# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

.DS_Store
out

logs

# VICINITY node
vicinity_node

# Idea
.idea

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor

# Development environment config file
.env

*.db

node_modules
.vscode

# SQL files
*.pgsql
*.sql
