[Unit]
Description=Desc
After=network.target

[Service]
User=user
Group=group

WorkingDirectory=/home/vicinity/vas
ExecStart=/home/vicinity/vas/start.sh

[Install]
WantedBy=multi-user.target